a {
    color: #02779E !important;
}

a:hover {
    color: #02779E !important;
    text-decoration: underline !important;
}

h3 {
    color: #D37123;
}

#header {
    text-align: center;
    height: 200px;
    background-color: #C36741;
    margin-bottom: 100px;
}

#footer {
    text-align: center;
    height: 200px;
    background-color: #C36741;
    margin-top: 100px;
}

#footer-text {
    padding-top: 60px;
}

